In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [2]:
te= pd.read_csv('input/te/te_loc_cleaned1.csv')
te.head()

,games,year,Name,Team,Week,Opponent,tar,rec,yds,td,fum,def_rk,h/a_1,surface_0,salary,points
0,1,2016,AJ Derby,DEN,9,OAK,1,0,0,0,0,24,0.0,1.0,5900,0.0
1,2,2016,AJ Derby,DEN,10,NO,3,2,22,0,0,13,0.0,0.0,2500,4.2
2,3,2016,AJ Derby,DEN,12,KC,4,4,43,0,0,5,1.0,1.0,2500,8.3
3,4,2016,AJ Derby,DEN,13,JAX,1,1,3,0,0,16,0.0,1.0,2500,1.3
4,5,2016,AJ Derby,DEN,14,TEN,5,5,57,0,1,15,0.0,1.0,0,9.7

In [185]:
te.drop('year',axis=1, inplace=True)

In [3]:
te.sort_values(['Name','Week'],inplace=True)
te.head()

,games,year,Name,Team,Week,Opponent,tar,rec,yds,td,fum,def_rk,h/a_1,surface_0,salary,points
6,7,2017,AJ Derby,DEN,1,LAC,3,3,34,0,0,8,1.0,1.0,2500,6.4
7,8,2017,AJ Derby,DEN,2,DAL,1,0,0,0,0,21,1.0,1.0,2500,0.0
17,18,2018,AJ Derby,MIA,2,NYJ,2,1,19,1,0,2,0.0,0.0,2500,8.9
8,9,2017,AJ Derby,DEN,3,BUF,2,1,5,0,0,25,0.0,0.0,3000,1.5
18,19,2018,AJ Derby,MIA,3,OAK,1,1,16,0,0,6,1.0,1.0,2600,2.6

In [4]:
def create_sorted_dict (df):
    df_sorted = df.sort_values(['Name','Week'])
    sorted_dict = {}
    for player in df_sorted['Name']:
        sorted_dict['{}'.format(player)] = {'year':df_sorted[df_sorted['Name']==player]['year'],
                                            'Opponent':df_sorted[df_sorted['Name']==player]['Opponent'],
                                            'points':df_sorted[df_sorted['Name']==player]['points'],
                                            'def_rk':df_sorted[df_sorted['Name']==player]['def_rk'],
                                            'surface_0':df_sorted[df_sorted['Name']==player]['surface_0'],
                                            'h/a_1':df_sorted[df_sorted['Name']== player]['h/a_1'],
                                            'salary':df_sorted[df_sorted['Name']==player]['salary'],
                                            'games': df_sorted[df_sorted['Name']==player]['games']
                                           }
       
    return sorted_dict

In [5]:
te_sorted_dict = create_sorted_dict(te)

In [6]:
te_sorted_dict.keys()

dict_keys(['AJ Derby', 'Adam Shaheen', 'Alex Ellis', 'Alex Smith', 'Andrew Quarless', 'Anthony Fasano', 'Antonio Gates', 'Antony Auclair', 'Asante Cleveland', 'Austin Hooper', 'Austin Seferian-Jenkins', 'Austin Traylor', 'Ben Braunecker', 'Ben Koyack', 'Benjamin Watson', 'Blake Bell', 'Blake Jarwin', 'Braedon Bowman', 'Brandon Bostick', 'Brandon Myers', 'Brandon Pettigrew', 'Brandon Williams', 'Brent Celek', 'Brian Leonhardt', 'Brian Parker', 'CJ Fiedorowicz', 'CJ Uzomah', 'Cameron Brate', 'Cethan Carter', 'Charles Clay', 'Chase Coffman', 'Chris Gragg', 'Chris Herndon IV', 'Chris Manhertz', 'Clay Harbor', 'Clive Walford', 'Coby Fleener', 'Cole Hikutini', 'Cole Wick', 'Connor Hamlett', 'Cooper Helfet', 'Cory Harkey', 'Craig Stevens', 'Crockett Gillmore', 'DJ Tialavea', 'Dallas Goedert', 'Daniel Fells', 'Darrell Daniels', 'Darren Fells', 'David Johnson', 'David Morgan', 'David Njoku', 'Delanie Walker', 'Demetrius Harris', 'Dennis Pitta', 'Derek Carrier', 'Dion Sims', 'Dominique Jones', 'Durham Smythe', 'Dwayne Allen', 'EJ Bibbs', 'Ed Dickson', 'Emanuel Byrd', 'Eric Ebron', 'Eric Saubert', 'Eric Tomlinson', 'Erik Swoope', 'Evan Engram', 'Gabe Holmes', 'Garrett Celek', 'Garrett Graham', 'Garrett Griffin', 'Gary Barnidge', 'Gavin Escobar', 'Geoff Swaim', 'George Kittle', 'Gerald Christian', 'Gerald Everett', 'Greg Olsen', 'Hakeem Valles', 'Heath Miller', 'Henry Krieger-Coble', 'Hunter Henry', 'Ian Thomas', 'Jace Amaro', 'Jack Doyle', 'Jacob Hollister', 'Jacob Tamme', 'Jake Butt', 'Jake Stoneburner', 'James Hanna', "James O'Shaughnessy", 'Jared Cook', 'Jason Croom', 'Jason Witten', 'Jeff Cumberland', 'Jeff Heuerman', 'Jerell Adams', 'Jeremy Sprinkle', 'Jermaine Gresham', 'Jerome Cunningham', 'Jesse James', 'Jim Dray', 'Jimmy Graham', 'John Phillips', 'Jonnu Smith', 'Jordan Akins', 'Jordan Cameron', 'Jordan Leggett', 'Jordan Reed', 'Jordan Thomas', 'Josh Hill', 'Joshua Perkins', 'Julius Thomas', 'Justin Perillo', 'Kellen Davis', 'Khari Lee', 'Kyle Rudolph', 'Ladarius Green', 'Lance Kendricks', 'Larry Donnell', 'Lee Smith', 'Levine Toilolo', 'Logan Paulsen', 'Logan Thomas', 'Luke Stocker', 'Luke Willson', 'MarQueis Gray', 'Marcedes Lewis', 'Mark Andrews', 'Martellus Bennett', 'Matt LaCosse', 'Matt Lengel', 'Matt Spaeth', 'Matthew Mulligan', 'Maxx Williams', 'Michael Hoomanawanui', 'Michael Roberts', 'Michael Williams', 'Mike Gesicki', 'Mo Alie-Cox', 'MyCole Pruitt', 'Mychal Rivera', 'Nic Jacobs', 'Nick Boyle', "Nick O'Leary", 'Nick Vannett', 'Niles Paul', 'OJ Howard', 'Orson Charles', 'Owen Daniels', 'Phillip Supernaw', 'Randall Telfer', 'Rhett Ellison', 'Richard Rodgers', 'Ricky Seals-Jones', 'Rico Gathers', 'Rob Gronkowski', 'Rob Housler', 'Ross Travis', 'Ryan Griffin', 'Ryan Hewitt', 'Ryan Malleck', 'Scott Chandler', 'Scott Simonson', 'Sean McGrath', 'Seth DeValve', 'Stephen Anderson', 'Tim Wright', 'Tony Moeaki', 'Travis Kelce', 'Trey Burton', 'Troy Niklas', 'Tyler Conklin', 'Tyler Eifert', 'Tyler Higbee', 'Tyler Kroft', 'Vance McDonald', 'Vernon Davis', 'Virgil Green', 'Will Dissly', 'Will Tye', 'Xavier Grimble', 'Zach Ertz', 'Zach Miller'])

In [140]:
# Create a data frame to investigate the points attribute of the dataset. 


def get_points_df(df):
    total_points = df['points'].sum()
    total_games = df['points'].count()

    val_lst = []
    sal_lst = []
    games_lst = []
    wght_avg=[]
    players = []
    avg_lst=[]

    for name in list(df['Name'].unique()):
        players.append(name)
        player_games = df[df['Name'] ==name].describe().loc['count'][0]
        games_lst.append(player_games)
        avg_points = round(df[df['Name'] ==name].describe()['points'].mean(),2)
        avg_lst.append(avg_points)
        wght_avg.append((round(avg_points + (avg_points* (player_games/total_games)),2)))
        sal_avg= round(df[df['Name'] ==name].describe()['salary'].mean(),2)
        sal_lst.append(sal_avg)
        val = round(sal_avg/avg_points,2)
        val_lst.append(val)
     
    df_eng = pd.DataFrame()
    df_eng['player'] = (df['Name'].unique())
    df_eng['games'] = games_lst
    df_eng['avg_points']= avg_lst
    df_eng['wght_avg'] = wght_avg
    df_eng['sal_avg'] = sal_lst
    df_eng['val'] = val_lst
    df_eng.head()
    
    return df_eng

In [191]:
te_points = get_points_df(te)

## Group Dataframes

In [7]:
# A function to create a dictonary of grouped data frames

def grouped_dict(csv):
    
    df= pd.read_csv(csv)
    

    yearly_dict = {}
    for year in list(df['year'].unique()):
        yearly_dict['player_{}'.format(year)] = (df[df['year']==year]).drop('year',axis=1).groupby(['Name','Week','Opponent']).sum()
        


    return yearly_dict

In [8]:
def conv_atts(grouped_dict):
    for group in grouped_dict:
        grouped_dict['{}'.format(group)]['h/a_1'] = grouped_dict['{}'.format(group)]['h/a_1'].astype('category')
        grouped_dict['{}'.format(group)]['surface_0'] = grouped_dict['{}'.format(group)]['surface_0'].astype('category')
    
    return grouped_dict

In [9]:
te_group = grouped_dict('input/te/te_loc_cleaned1.csv')

In [10]:
te_group = conv_atts(te_group)

In [11]:
te_group['player_2015'].dtypes

games           int64
tar             int64
rec             int64
yds             int64
td              int64
fum             int64
def_rk          int64
h/a_1        category
surface_0    category
salary          int64
points        float64
dtype: object

In [12]:
def drop_col (grouped_df):
    for group in grouped_df:
        grouped_df[group].drop('games', axis=1, inplace=True)
        grouped_df[group].drop('h/a_1', axis=1, inplace=True)
        grouped_df[group].drop('surface_0',axis=1, inplace=True)
        grouped_df[group].drop('salary',axis=1, inplace=True)
        grouped_df[group].drop('points',axis=1, inplace=True)
    return grouped_df

In [13]:
te_group= drop_col(te_group)
te_group['player_2015'].columns

Index(['tar', 'rec', 'yds', 'td', 'fum', 'def_rk'], dtype='object')

In [17]:
te_group.keys()

dict_keys(['player_2016', 'player_2017', 'player_2018', 'player_2015'])

## Current Stats
Weekly moving average for every year from 2015 through 2018

In [18]:
# Week 1 stats are player's career average through 2014 season
# Populate current dataframe with current year averages of players

def insert_data (grouped_df):
    new_df = pd.DataFrame(index=grouped_df.index)
    for col in grouped_df: # Iterate through every attribute in the team_stats dataframe
        points=[]  # Create an empty list to hold the season average of the current attribute

        for player in grouped_df.index.levels[0]:  # Iterate through every player in the team_stats df
            total =[]# create an empty list to hold the weekly attributes valu3

            for week in grouped_df.loc[player].index: # Iterate throough every week for the current player
                total.append(grouped_df.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
                points.append(round(np.mean(total),2))  # Add the average of the total list to the season average list

        new_df['{}_avg'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe
    return new_df

In [139]:
weekly_2015 = insert_data(te_group['player_2015'])
weekly_2016 = insert_data(te_group['player_2016'])
weekly_2017 = insert_data(te_group['player_2017'])
weekly_2018 = insert_data(te_group['player_2018'])

In [20]:
def shift_dict(df):

    shift_dict = {}
    df.reset_index(inplace=True)
    for player in df['Name'].unique():
        shift_dict[player]=df[df['Name']==player].shift(1).fillna(0)
    df_shifted = pd.concat(shift_dict)
    df_shifted.drop('Name', axis=1,inplace=True)
    
    
    
    
    return df_shifted

In [142]:
player_weekly_avg.loc['Zach Ertz']

     Week Opponent  tar_avg  rec_avg  yds_avg  td_avg  fum_avg  def_rk_avg
960   0.0        0     0.00     0.00     0.00    0.00     0.00        0.00
961   1.0      ATL     8.00     3.00    46.00    0.00     0.00       29.00
962   2.0      DAL     7.50     3.00    31.50    0.00     0.00       15.00
963   3.0      NYJ     5.67     2.67    31.00    0.00     0.00       11.00
964   4.0      WAS     5.00     2.50    26.00    0.00     0.00       12.25
965   5.0       NO     5.40     3.00    32.80    0.00     0.00       16.20
966   6.0      NYG     5.67     3.17    34.50    0.00     0.00       18.67
967   7.0      CAR     6.00     3.43    38.57    0.00     0.00       17.71
968   9.0      DAL     6.00     3.62    39.25    0.00     0.00       15.62
969  10.0      MIA     6.44     4.00    42.44    0.00     0.00       14.67
970  11.0       TB     6.20     3.80    39.40    0.00     0.00       15.30
971  13.0       NE     6.00     3.64    36.64    0.09     0.00       14.36
972  14.0      BUF     6.08     3.75    41.75    0.08     0.00       13.83
973  15.0      ARI     6.62     4.08    44.54    0.15     0.00       14.31
974  16.0      WAS     7.36     4.71    50.07    0.14     0.07       14.43
911   0.0        0     0.00     0.00     0.00    0.00     0.00        0.00
912   1.0      CLE     7.00     6.00    58.00    0.00     0.00       31.00
913   5.0      DET     5.00     4.50    47.50    0.00     0.00       29.00
914   6.0      WAS     4.33     3.33    39.00    0.00     0.00       29.00
915   7.0      MIN     4.00     2.75    32.75    0.00     0.00       24.50
916   8.0      DAL     4.00     3.00    30.00    0.00     0.00       26.00
917   9.0      NYG     4.67     3.83    41.17    0.00     0.00       25.00
918  10.0      ATL     5.00     4.14    43.14    0.00     0.00       25.14
919  11.0      SEA     5.75     4.38    42.12    0.12     0.00       22.50
920  12.0       GB     5.78     4.22    41.44    0.11     0.00       22.33
921  13.0      CIN     6.70     4.70    45.20    0.20     0.00       23.10
922  14.0      WAS     7.27     5.18    51.27    0.18     0.00       23.64
923  15.0      BAL     7.33     5.25    53.67    0.17     0.00       22.50
924  16.0      NYG     6.92     5.00    52.08    0.15     0.00       22.31
982   0.0        0     0.00     0.00     0.00    0.00     0.00        0.00
983   1.0      WAS     8.00     8.00    93.00    0.00     0.00       28.00
984   2.0       KC     9.00     6.50    95.00    0.00     0.00       17.50
985   3.0      NYG     9.33     7.00    81.67    0.33     0.33       22.00
986   4.0      LAC     9.00     6.50    81.50    0.25     0.25       18.50
987   5.0      ARI     9.60     6.40    77.40    0.40     0.20       18.20
988   6.0      CAR     8.83     5.67    67.50    0.67     0.17       16.17
989   7.0      WAS     8.29     5.57    70.57    0.71     0.14       17.86
990   8.0       SF     8.00     5.38    66.00    0.75     0.12       17.50
991  11.0      DAL     7.67     5.00    59.56    0.67     0.11       17.89
992  12.0      CHI     8.10     5.50    63.90    0.70     0.10       17.30
993  13.0      SEA     7.73     5.18    60.27    0.64     0.09       16.55
994  15.0      NYG     7.83     5.25    59.92    0.67     0.08       17.75
995  16.0      OAK     8.31     5.54    61.54    0.62     0.08       18.38
253   0.0        0     0.00     0.00     0.00    0.00     0.00        0.00
254   1.0      ATL    10.00     5.00    48.00    0.00     0.00       12.00
255   2.0       TB    11.50     8.00    71.00    0.00     0.00       22.00
256   3.0      IND    11.00     7.00    71.67    0.00     0.00       24.33

In [21]:
player_2015_shifted = shift_dict(weekly_2015)

player_2016_shifted = shift_dict(weekly_2016)

player_2017_shifted = shift_dict(weekly_2017)

player_2018_shifted = shift_dict(weekly_2018)

In [79]:
player_weekly_avg = pd.concat([player_2015_shifted, player_2016_shifted])
player_weekly_avg = pd.concat([player_weekly_avg, player_2017_shifted])
player_weekly_avg = pd.concat([player_weekly_avg, player_2018_shifted])
player_weekly_avg.head()

                   Week Opponent  tar_avg  rec_avg  yds_avg  td_avg  fum_avg  \
Alex Smith      0   0.0        0      0.0      0.0      0.0     0.0      0.0
                1  16.0      PHI      1.0      0.0      0.0     0.0      0.0
Andrew Quarless 2   0.0        0      0.0      0.0      0.0     0.0      0.0
                3   3.0       KC      2.0      2.0     14.0     0.0      0.0
                4  16.0      ARI      2.0      2.0     15.5     0.0      0.0

                   def_rk_avg
Alex Smith      0         0.0
                1        11.0
Andrew Quarless 2         0.0
                3         2.0
                4        11.0

In [80]:
shifted_weekly_avg_grp = ((player_weekly_avg.reset_index()).rename(columns={'level_0':'Name'}).drop('level_1', axis=1)).groupby(['Name','Week']).sum()
shifted_weekly_avg_grp.head()

               tar_avg  rec_avg  yds_avg  td_avg  fum_avg  def_rk_avg
Name     Week
AJ Derby 0.0       0.0     0.00      0.0    0.00      0.0         0.0
         1.0       3.0     3.00     34.0    0.00      0.0         8.0
         2.0       4.0     2.50     36.0    1.00      0.0        16.5
         3.0       2.0     1.33     13.0    0.00      0.0        18.0
         4.0       3.0     2.00     28.5    0.25      0.0        20.0

In [126]:
shifted_weekly_avg = shifted_weekly_avg_grp.reset_index()
shifted_weekly_avg.head()

       Name  Week  tar_avg  rec_avg  yds_avg  td_avg  fum_avg  def_rk_avg
0  AJ Derby   0.0      0.0     0.00      0.0    0.00      0.0         0.0
1  AJ Derby   1.0      3.0     3.00     34.0    0.00      0.0         8.0
2  AJ Derby   2.0      4.0     2.50     36.0    1.00      0.0        16.5
3  AJ Derby   3.0      2.0     1.33     13.0    0.00      0.0        18.0
4  AJ Derby   4.0      3.0     2.00     28.5    0.25      0.0        20.0

## Recent Player Stats
Calculate the 4 game moving average of all attributes for each player and insert resluts into positional dataframe

In [31]:
# A function designed to calcuate a player's 4 game moving average in seasons 2015,2016,2017,2018

def moving_average(grouped_df, games):
    new_grouped_df = pd.DataFrame(index = grouped_df.index)
    for col in grouped_df:  # Iterate through every attribute in the team_stats dataframe
        ma4 = []  # Create an empty list to hold the season average of the current attribute
        for player in grouped_df.index.levels[0]:  # Iterate through every player in the team_stats df
            total = [] # INstantiate a deque container with a max length of 3 to hold the three most current games for player
            count = 0 # Counter to track week number 
            for week in grouped_df.loc[player].index: # Iterate through every week for relevant player d
                if count < games: # check count value to start 3 game moving average
                    ma4.append(0)  # week 1 through 3 have 3 game movong average of 0
                    total.append(grouped_df.loc[player].loc[week][col])  # Add the value current player's attribute total from the left
                    count += 1  # Increase count
                else:  # Once 3 game moving average is avaliable
                    ma4.append(np.mean(total))  # Add the average of the 3 games held in totals 3 game moivng average list
                    total.append(grouped_df.loc[player].loc[week][col]) # Replace 3 set block with a first in first out process
        new_grouped_df['{}_ma'.format(col.lower())] = ma4  # Populate databse with 3 game moving average list
       

    return new_grouped_df

In [32]:
player_ma_2015 = moving_average(te_group['player_2015'],4)
player_ma_2016 = moving_average(te_group['player_2016'],4)
player_ma_2017 = moving_average(te_group['player_2017'],4)
player_ma_2018 = moving_average(te_group['player_2018'],4)

In [61]:
yearly_ma_grp = pd.concat([player_ma_2015, player_ma_2016])
yearly_ma_grp = pd.concat([yearly_ma_grp,player_ma_2017])
yearly_ma_grp = pd.concat([yearly_ma_grp,player_ma_2018])
yearly_ma_grp.head()

                               tar_ma  rec_ma  yds_ma  td_ma  fum_ma  \
Name            Week Opponent
Alex Smith      16   PHI          0.0     0.0     0.0    0.0     0.0
                17   DAL          0.0     0.0     0.0    0.0     0.0
Andrew Quarless 3    KC           0.0     0.0     0.0    0.0     0.0
                16   ARI          0.0     0.0     0.0    0.0     0.0
                17   MIN          0.0     0.0     0.0    0.0     0.0

                               def_rk_ma  year
Name            Week Opponent
Alex Smith      16   PHI             0.0  2015
                17   DAL             0.0  2015
Andrew Quarless 3    KC              0.0  2015
                16   ARI             0.0  2015
                17   MIN             0.0  2015

In [127]:
yearly_ma = yearly_ma_grp.reset_index().groupby(['Name','Week']).sum().reset_index()
yearly_ma.head()

       Name  Week  tar_ma  rec_ma  yds_ma  td_ma  fum_ma  def_rk_ma  year
0  AJ Derby     1     0.0     0.0     0.0   0.00     0.0        0.0  2017
1  AJ Derby     2     0.0     0.0     0.0   0.00     0.0        0.0  4035
2  AJ Derby     3     0.0     0.0     0.0   0.00     0.0        0.0  4035
3  AJ Derby     4     0.0     0.0     0.0   0.00     0.0        0.0  2017
4  AJ Derby     6     3.0     2.0    28.5   0.25     0.0       20.0  2017

## Career Average

In [45]:
# Week 1 stats are player's career average through 2014 season
# Populate current dataframe with current year averages of players

def career_average (grouped_df1, grouped_df2=None):
    new_grouped_df1 = pd.DataFrame(index= grouped_df1.index)
    for col in grouped_df1: # Iterate through every attribute in the team_stats dataframe
        points=[]  # Create an empty list to hold the season average of the current attribute

        try:
            for player in grouped_df1.index.levels[0]:  # Iterate through every player in the team_stats df
                if player in list(grouped_df2.index.levels[0].unique()):
                    total =[grouped_df2.loc[player][col][-1]] # If player not a rookie, use final average from 2015
                else:
                    total =[]  # create an empty list to hold the weekly attributes value
                
                for week in grouped_df1.loc[player].index: # Iterate throough every week for the current player
                    total.append(grouped_df1.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
                    points.append(round(np.mean(total),2))  # Add the average of the total list to the season average list
                    
            new_grouped_df1['{}_car'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe


                                
        except:
            for player in grouped_df1.index.levels[0]:  # Iterate through every player in the team_stats df
                total = []

                for week in grouped_df1.loc[player].index: # Iterate throough every week for the current player
                    total.append(grouped_df1.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
                    points.append(round(np.mean(total),2))  # Add the average of the total list to the season average list

            new_grouped_df1['{}_car'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe
    return new_grouped_df1

In [46]:
df_career_2015 = career_average(te_group['player_2015'])
df_career_2016 = career_average(te_group['player_2016'], te_group['player_2015'])
df_career_2017 = career_average(te_group['player_2017'], te_group['player_2016'])
df_career_2018 = career_average(te_group['player_2018'], te_group['player_2017'])

In [128]:
player_career_grp = pd.concat([df_career_2015, df_career_2016])
player_career_grp = pd.concat([player_career_grp, df_career_2017])
player_career_grp = pd.concat([player_career_grp, df_career_2018])
player_career_grp.head()

                               tar_car  rec_car  yds_car  td_car  fum_car  \
Name            Week Opponent
Alex Smith      16   PHI          1.00     0.00     0.00     0.0      0.0
                17   DAL          1.00     0.00     0.00     0.0      0.0
Andrew Quarless 3    KC           2.00     2.00    14.00     0.0      0.0
                16   ARI          2.00     2.00    15.50     0.0      0.0
                17   MIN          1.67     1.33    10.33     0.0      0.0

                               def_rk_car
Name            Week Opponent
Alex Smith      16   PHI            11.00
                17   DAL             6.00
Andrew Quarless 3    KC              2.00
                16   ARI            11.00
                17   MIN            12.33

In [129]:
career_shifted = shift_dict(player_career_grp)

In [125]:
career_shifted

                    index  Week Opponent  tar_car  rec_car  yds_car  td_car  \
AJ Derby     987      0.0   0.0        0     0.00     0.00     0.00    0.00
             988    987.0   9.0      OAK     1.00     0.00     0.00    0.00
             989    988.0  10.0       NO     2.00     1.00    11.00    0.00
             990    989.0  12.0       KC     2.67     2.00    21.67    0.00
             991    990.0  13.0      JAX     2.25     1.75    17.00    0.00
             992    991.0  14.0      TEN     2.80     2.40    25.00    0.00
             1922   992.0  15.0       NE     3.33     2.67    26.67    0.00
             1923  1922.0   1.0      LAC     4.50     3.50    34.50    0.00
             1924  1923.0   2.0      DAL     3.33     2.33    23.00    0.00
             1925  1924.0   3.0      BUF     3.00     2.00    18.50    0.00
             1926  1925.0   4.0      OAK     3.60     2.40    29.80    0.20
             1927  1926.0   6.0      NYG     3.67     2.17    26.50    0.17
             1928  1927.0   7.0      LAC     4.14     2.71    32.14    0.14
             1929  1928.0   8.0       KC     4.12     2.62    30.75    0.25
             1930  1929.0   9.0      PHI     4.00     2.44    28.56    0.22
             1931  1930.0  10.0       NE     3.70     2.30    25.90    0.20
             1932  1931.0  16.0       KC     3.82     2.18    24.55    0.18
             2926  1932.0  17.0      BUF     3.83     2.08    23.25    0.17
             2927  2926.0   2.0      NYJ     3.00     1.00    14.00    0.50
Adam Shaheen 1933     0.0   0.0        0     0.00     0.00     0.00    0.00
             1934  1933.0   3.0      PIT     1.00     1.00     2.00    1.00
             1935  1934.0   8.0       NO     1.00     0.50     1.00    0.50
             1936  1935.0  10.0       GB     1.33     1.00    13.67    0.33
             1937  1936.0  11.0      DET     2.00     1.75    20.50    0.50
             1938  1937.0  12.0      PHI     1.80     1.60    16.60    0.40
Alex Ellis   993      0.0   0.0        0     0.00     0.00     0.00    0.00
             994    993.0  14.0      MIN     1.00     0.00     0.00    0.00
             995    994.0  15.0      HOU     1.00     0.50     0.50    0.00
Alex Smith   0        0.0   0.0        0     0.00     0.00     0.00    0.00
             1        0.0  16.0      PHI     1.00     0.00     0.00    0.00
...                   ...   ...      ...      ...      ...      ...     ...
Zach Miller  975      0.0   0.0        0     0.00     0.00     0.00    0.00
             976    975.0   1.0       GB     1.00     0.00     0.00    0.00
             977    976.0   2.0      ARI     1.50     1.00     7.00    0.00
             978    977.0   3.0      SEA     1.33     1.00    11.67    0.00
             979    978.0   5.0       KC     1.25     0.75     8.75    0.00
             980    979.0   9.0      LAC     1.40     1.00    11.60    0.20
             981    980.0  10.0      LAR     2.00     1.67    27.50    0.50
             982    981.0  11.0      DEN     2.57     1.86    30.29    0.43
             983    982.0  12.0       GB     3.12     1.88    27.75    0.50
             984    983.0  13.0       SF     2.89     1.78    25.33    0.44
             985    984.0  14.0      WAS     3.20     2.10    31.30    0.50
             986    985.0  15.0      MIN     3.45     2.45    33.64    0.45
             1912   986.0  16.0       TB     3.83     2.83    36.58    0.42
             1913  1912.0   1.0      HOU     6.00     5.00    41.50    0.00
             1914  1913.0   2.0      PHI     5.67     4.67    38.67    0.00
             1915  1914.0   3.0      DAL     6.50     5.50    48.50    0.50
             1916  1915.0   4.0      DET     5.80     5.00    45.00    0.60
             1917  1916.0   5.0      IND     6.17     5.33    49.67    0.50
             1918  1917.0   6.0      JAX     6.71     5.43    47.71    0.43
             1919  1918.0   7.0       GB     6.50     5.00    46.75    0.38
             1920  1919.0   8.0      MIN     6.89     5.22    51.33    0.33
             1921  1920.0  10.0       TB     6.90     5.10    49.40    0.30
             2918  1921.0  11.0      NYG     6.55     4.91    50.45    0.36
             2919  2918.0   1.0      ATL     4.50     3.50    50.00    0.50
             2920  2919.0   2.0       TB     6.00     4.33    47.33    0.33
             2921  2920.0   3.0      PIT     5.25     3.50    39.75    0.25
             2922  2921.0   4.0       GB     4.60     3.20    40.80    0.20
             2923  2922.0   5.0      MIN     5.00     3.17    40.50    0.33
             2924  2923.0   6.0      BAL     4.71     3.00    38.29    0.43
             2925  2924.0   7.0      CAR     4.50     2.88    37.12    0.38

                   fum_car  def_rk_car
AJ Derby     987      0.00        0.00
             988      0.00       24.00
             989      0.00       18.50
             990      0.00       14.00
             991      0.00       14.50
             992      0.20       14.60
             1922     0.17       13.50
             1923     0.00        8.00
             1924     0.00       12.33
             1925     0.00       15.50
             1926     0.00       17.60
             1927     0.00       19.83
             1928     0.14       18.14
             1929     0.12       16.75
             1930     0.11       16.44
             1931     0.10       15.80
             1932     0.09       15.00
             2926     0.08       15.83
             2927     0.00       13.50
Adam Shaheen 1933     0.00        0.00
             1934     0.00        4.00
             1935     0.00        3.00
             1936     0.00        3.67
             1937     0.00        6.75
             1938     0.00        8.20
Alex Ellis   993      0.00        0.00
             994      0.00       11.00
             995      0.00        7.00
Alex Smith   0        0.00        0.00
             1        0.00       11.00
...                    ...         ...
Zach Miller  975      0.00        0.00
             976      0.00       14.00
             977      0.00       17.00
             978      0.00       18.67
             979      0.00       14.50
             980      0.00       15.20
             981      0.00       17.00
             982      0.00       17.29
             983      0.00       16.88
             984      0.00       16.00
             985      0.00       16.00
             986      0.00       15.91
             1912     0.00       16.33
             1913     0.00       12.00
             1914     0.00        8.67
             1915     0.00       14.50
             1916     0.00       17.00
             1917     0.00       18.00
             1918     0.00       17.71
             1919     0.00       18.12
             1920     0.00       17.33
             1921     0.00       17.00
             2918     0.00       17.27
             2919     0.00       16.50
             2920     0.00       12.00
             2921     0.00       10.00
             2922     0.00        9.00
             2923     0.00        7.67
             2924     0.00       10.00
             2925     0.00        9.50

[3183 rows x 9 columns]

In [130]:
career_shifted = career_shifted.reset_index().rename(columns={'level_0':'Name'}).drop('level_1', axis=1)
career_shifted.head()

,Name,Week,Opponent,tar_car,rec_car,yds_car,td_car,fum_car,def_rk_car
0,AJ Derby,0.0,0,0.00,0.00,0.00,0.0,0.0,0.0
1,AJ Derby,9.0,OAK,1.00,0.00,0.00,0.0,0.0,24.0
2,AJ Derby,10.0,NO,2.00,1.00,11.00,0.0,0.0,18.5
3,AJ Derby,12.0,KC,2.67,2.00,21.67,0.0,0.0,14.0
4,AJ Derby,13.0,JAX,2.25,1.75,17.00,0.0,0.0,14.5

In [131]:
te_stats = pd.concat([shifted_weekly_avg, yearly_ma], axis=1)
te_stats

,Name,Week,tar_avg,rec_avg,yds_avg,td_avg,fum_avg,def_rk_avg,Name,Week,tar_ma,rec_ma,yds_ma,td_ma,fum_ma,def_rk_ma,year
0,AJ Derby,0.0,0.00,0.00,0.00,0.00,0.00,0.00,AJ Derby,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017
1,AJ Derby,1.0,3.00,3.00,34.00,0.00,0.00,8.00,AJ Derby,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4035
2,AJ Derby,2.0,4.00,2.50,36.00,1.00,0.00,16.50,AJ Derby,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4035
3,AJ Derby,3.0,2.00,1.33,13.00,0.00,0.00,18.00,AJ Derby,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017
4,AJ Derby,4.0,3.00,2.00,28.50,0.25,0.00,20.00,AJ Derby,6,3.000000,2.000000,28.500000,0.250000,0.000000,20.000000,2017
5,AJ Derby,6.0,3.20,1.80,24.80,0.20,0.00,22.20,AJ Derby,7,3.200000,1.800000,24.800000,0.200000,0.000000,22.200000,2017
6,AJ Derby,7.0,3.83,2.50,31.67,0.17,0.17,19.83,AJ Derby,8,3.833333,2.500000,31.666667,0.166667,0.166667,19.833333,2017
7,AJ Derby,8.0,3.86,2.43,30.14,0.29,0.14,18.00,AJ Derby,9,3.857143,2.428571,30.142857,0.285714,0.142857,18.000000,4033
8,AJ Derby,9.0,4.75,2.25,27.75,0.25,0.12,41.50,AJ Derby,10,3.750000,2.250000,27.750000,0.250000,0.125000,17.500000,4033
9,AJ Derby,10.0,5.44,3.11,35.89,0.22,0.11,35.17,AJ Derby,12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2016
10,AJ Derby,12.0,2.67,2.00,21.67,0.00,0.00,14.00,AJ Derby,13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2016
11,AJ Derby,13.0,2.25,1.75,17.00,0.00,0.00,14.50,AJ Derby,14,2.250000,1.750000,17.000000,0.000000,0.000000,14.500000,2016
12,AJ Derby,14.0,2.80,2.40,25.00,0.00,0.20,14.60,AJ Derby,15,2.800000,2.400000,25.000000,0.000000,0.200000,14.600000,2016
13,AJ Derby,16.0,3.60,2.00,23.50,0.20,0.10,15.70,AJ Derby,16,3.444444,2.111111,24.888889,0.222222,0.111111,16.666667,2017
14,Adam Shaheen,0.0,0.00,0.00,0.00,0.00,0.00,0.00,AJ Derby,17,3.600000,2.000000,23.500000,0.200000,0.100000,15.700000,2017
15,Adam Shaheen,3.0,1.00,1.00,2.00,1.00,0.00,4.00,Adam Shaheen,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017
16,Adam Shaheen,8.0,1.00,0.50,1.00,0.50,0.00,3.00,Adam Shaheen,8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017
17,Adam Shaheen,10.0,1.33,1.00,13.67,0.33,0.00,3.67,Adam Shaheen,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017
18,Adam Shaheen,11.0,2.00,1.75,20.50,0.50,0.00,6.75,Adam Shaheen,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017
19,Adam Shaheen,12.0,1.80,1.60,16.60,0.40,0.00,8.20,Adam Shaheen,12,2.000000,1.750000,20.500000,0.500000,0.000000,6.750000,2017
20,Alex Ellis,0.0,0.00,0.00,0.00,0.00,0.00,0.00,Adam Shaheen,14,1.800000,1.600000,16.600000,0.400000,0.000000,8.200000,2017
21,Alex Ellis,14.0,1.00,0.00,0.00,0.00,0.00,11.00,Alex Ellis,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2016
22,Alex Ellis,15.0,1.00,0.50,0.50,0.00,0.00,7.00,Alex Ellis,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2016
23,Alex Smith,0.0,0.00,0.00,0.00,0.00,0.00,0.00,Alex Ellis,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2016
24,Alex Smith,16.0,1.00,0.00,0.00,0.00,0.00,11.00,Alex Smith,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015
25,Andrew Quarless,0.0,0.00,0.00,0.00,0.00,0.00,0.00,Alex Smith,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015
26,Andrew Quarless,3.0,2.00,2.00,14.00,0.00,0.00,2.00,Andrew Quarless,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015
27,Andrew Quarless,16.0,2.00,2.00,15.50,0.00,0.00,11.00,Andrew Quarless,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015
28,Anthony Fasano,0.0,0.00,0.00,0.00,0.00,0.00,0.00,Andrew Quarless,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015
29,Anthony Fasano,1.0,1.00,1.00,18.00,0.00,0.00,21.00,Anthony Fasano,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6050
1812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,5,14.000000,9.000000,107.500000,0.250000,0.250000,30.750000,6048
1813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,6,15.000000,9.400000,110.200000,0.400000,0.200000,34.400000,6048
1814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,7,14.500000,8.833333,102.000000,0.666667,0.166667,34.833333,6048
1815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,8,12.285714,8.321429,103.321429,0.714286,0.142857,42.357143,4033
1816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,9,10.000000,6.428571,68.571429,0.000000,0.000000,43.714286,4031
1817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,10,10.666667,7.458333,80.416667,0.000000,0.000000,40.625000,4031
1818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,11,19.444444,13.517857,151.587302,0.750000,0.125000,57.309524,6048
1819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,12,13.416667,9.375000,101.680556,0.791667,0.111111,40.388889,4033
1820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,13,20.077778,13.522222,144.744444,0.811111,0.100000,54.933333,6048
1821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,14,12.700000,8.336364,81.836364,0.290909,0.000000,37.463636,4031
1822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,15,21.083333,14.113636,153.295455,0.901515,0.090909,54.015152,6048
1823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,16,21.782051,14.576923,158.121795,0.987179,0.083333,54.557692,6048
1824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Ertz,17,22.587912,15.252747,163.686813,0.912088,0.148352,55.120879,6048
1825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6048
1826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6048
1827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6048
1828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4033
1829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,5,10.250000,7.750000,74.750000,0.750000,0.000000,22.250000,6048
1830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,6,11.200000,8.200000,82.200000,0.800000,0.000000,22.600000,4033
1831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,7,11.500000,8.166667,78.666667,0.833333,0.000000,25.500000,4033
1832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,8,11.000000,7.571429,77.285714,0.714286,0.000000,25.714286,4033
1833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,9,1.250000,0.750000,8.750000,0.000000,0.000000,14.500000,2015
1834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,10,8.150000,6.000000,60.725000,0.575000,0.000000,32.075000,4031
1835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,11,8.777778,6.555556,74.722222,0.833333,0.000000,33.555556,4031
1836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,12,2.571429,1.857143,30.285714,0.428571,0.000000,17.285714,2015
1837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,13,3.125000,1.875000,27.750000,0.500000,0.000000,16.875000,2015
1838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,14,2.888889,1.777778,25.333333,0.444444,0.000000,16.000000,2015
1839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,15,3.200000,2.100000,31.300000,0.500000,0.000000,16.000000,2015
1840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zach Miller,16,3.454545,2.454545,33.636364,0.454545,0.000000,15.909091,2015

In [138]:
shifted_weekly_avg.loc['Zach Ertz']

KeyError: 'the label [Zach Ertz] is not in the [index]'

In [73]:
cols = te_stats.columns.tolist()
cols = cols[6:9] +cols[:6] +cols[9:-1]
te_stats = te_stats[cols]
te_stats.head()

,Name,Week,tar_ma,tar_avg,rec_avg,yds_avg,td_avg,fum_avg,def_rk_avg,rec_ma,yds_ma,td_ma,fum_ma,def_rk_ma
0,AJ Derby,1,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
1,AJ Derby,2,0.0,3.0,3.00,34.0,0.00,0.0,8.0,0.0,0.0,0.00,0.0,0.0
2,AJ Derby,3,0.0,4.0,2.50,36.0,1.00,0.0,16.5,0.0,0.0,0.00,0.0,0.0
3,AJ Derby,4,0.0,2.0,1.33,13.0,0.00,0.0,18.0,0.0,0.0,0.00,0.0,0.0
4,AJ Derby,6,3.0,3.0,2.00,28.5,0.25,0.0,20.0,2.0,28.5,0.25,0.0,20.0

In [121]:
te_stats = pd.concat([te_stats, career_shifted], axis=1)
te_stats.head()

,Name,Week,tar_avg,rec_avg,yds_avg,td_avg,fum_avg,def_rk_avg,Name,Week,...,year,Name,Week,Opponent,tar_car,rec_car,yds_car,td_car,fum_car,def_rk_car
0,AJ Derby,0.0,0.0,0.00,0.0,0.00,0.0,0.0,AJ Derby,1.0,...,2017.0,AJ Derby,0.0,0,0.00,0.00,0.00,0.0,0.0,0.0
1,AJ Derby,1.0,3.0,3.00,34.0,0.00,0.0,8.0,AJ Derby,2.0,...,4035.0,AJ Derby,9.0,OAK,1.00,0.00,0.00,0.0,0.0,24.0
2,AJ Derby,2.0,4.0,2.50,36.0,1.00,0.0,16.5,AJ Derby,3.0,...,4035.0,AJ Derby,10.0,NO,2.00,1.00,11.00,0.0,0.0,18.5
3,AJ Derby,3.0,2.0,1.33,13.0,0.00,0.0,18.0,AJ Derby,4.0,...,2017.0,AJ Derby,12.0,KC,2.67,2.00,21.67,0.0,0.0,14.0
4,AJ Derby,4.0,3.0,2.00,28.5,0.25,0.0,20.0,AJ Derby,6.0,...,2017.0,AJ Derby,13.0,JAX,2.25,1.75,17.00,0.0,0.0,14.5

In [122]:
te_stats.isnull().sum()

Name          1381
Week          1381
tar_avg       1381
rec_avg       1381
yds_avg       1381
td_avg        1381
fum_avg       1381
def_rk_avg    1381
Name          1342
Week          1342
tar_ma        1342
rec_ma        1342
yds_ma        1342
td_ma         1342
fum_ma        1342
def_rk_ma     1342
year          1342
Name             0
Week             0
Opponent         0
tar_car          0
rec_car          0
yds_car          0
td_car           0
fum_car          0
def_rk_car       0
dtype: int64

In [65]:
#A function that will covert a time series database into a supervised learning database

def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
            cols.append(df.shift(i))
            names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [117]:
te_stats

,Name,Week,tar_avg,rec_avg,yds_avg,td_avg,fum_avg,def_rk_avg,Name,Week,...,year,Name,Week,Opponent,tar_car,rec_car,yds_car,td_car,fum_car,def_rk_car
0,AJ Derby,0.0,0.00,0.00,0.00,0.00,0.00,0.00,AJ Derby,1.0,...,2017.0,AJ Derby,0.0,0,0.00,0.00,0.00,0.00,0.00,0.00
1,AJ Derby,1.0,3.00,3.00,34.00,0.00,0.00,8.00,AJ Derby,2.0,...,4035.0,AJ Derby,9.0,OAK,1.00,0.00,0.00,0.00,0.00,24.00
2,AJ Derby,2.0,4.00,2.50,36.00,1.00,0.00,16.50,AJ Derby,3.0,...,4035.0,AJ Derby,10.0,NO,2.00,1.00,11.00,0.00,0.00,18.50
3,AJ Derby,3.0,2.00,1.33,13.00,0.00,0.00,18.00,AJ Derby,4.0,...,2017.0,AJ Derby,12.0,KC,2.67,2.00,21.67,0.00,0.00,14.00
4,AJ Derby,4.0,3.00,2.00,28.50,0.25,0.00,20.00,AJ Derby,6.0,...,2017.0,AJ Derby,13.0,JAX,2.25,1.75,17.00,0.00,0.00,14.50
5,AJ Derby,6.0,3.20,1.80,24.80,0.20,0.00,22.20,AJ Derby,7.0,...,2017.0,AJ Derby,14.0,TEN,2.80,2.40,25.00,0.00,0.20,14.60
6,AJ Derby,7.0,3.83,2.50,31.67,0.17,0.17,19.83,AJ Derby,8.0,...,2017.0,AJ Derby,15.0,NE,3.33,2.67,26.67,0.00,0.17,13.50
7,AJ Derby,8.0,3.86,2.43,30.14,0.29,0.14,18.00,AJ Derby,9.0,...,4033.0,AJ Derby,1.0,LAC,4.50,3.50,34.50,0.00,0.00,8.00
8,AJ Derby,9.0,4.75,2.25,27.75,0.25,0.12,41.50,AJ Derby,10.0,...,4033.0,AJ Derby,2.0,DAL,3.33,2.33,23.00,0.00,0.00,12.33
9,AJ Derby,10.0,5.44,3.11,35.89,0.22,0.11,35.17,AJ Derby,12.0,...,2016.0,AJ Derby,3.0,BUF,3.00,2.00,18.50,0.00,0.00,15.50
10,AJ Derby,12.0,2.67,2.00,21.67,0.00,0.00,14.00,AJ Derby,13.0,...,2016.0,AJ Derby,4.0,OAK,3.60,2.40,29.80,0.20,0.00,17.60
11,AJ Derby,13.0,2.25,1.75,17.00,0.00,0.00,14.50,AJ Derby,14.0,...,2016.0,AJ Derby,6.0,NYG,3.67,2.17,26.50,0.17,0.00,19.83
12,AJ Derby,14.0,2.80,2.40,25.00,0.00,0.20,14.60,AJ Derby,15.0,...,2016.0,AJ Derby,7.0,LAC,4.14,2.71,32.14,0.14,0.14,18.14
13,AJ Derby,16.0,3.60,2.00,23.50,0.20,0.10,15.70,AJ Derby,16.0,...,2017.0,AJ Derby,8.0,KC,4.12,2.62,30.75,0.25,0.12,16.75
14,Adam Shaheen,0.0,0.00,0.00,0.00,0.00,0.00,0.00,AJ Derby,17.0,...,2017.0,AJ Derby,9.0,PHI,4.00,2.44,28.56,0.22,0.11,16.44
15,Adam Shaheen,3.0,1.00,1.00,2.00,1.00,0.00,4.00,Adam Shaheen,3.0,...,2017.0,AJ Derby,10.0,NE,3.70,2.30,25.90,0.20,0.10,15.80
16,Adam Shaheen,8.0,1.00,0.50,1.00,0.50,0.00,3.00,Adam Shaheen,8.0,...,2017.0,AJ Derby,16.0,KC,3.82,2.18,24.55,0.18,0.09,15.00
17,Adam Shaheen,10.0,1.33,1.00,13.67,0.33,0.00,3.67,Adam Shaheen,10.0,...,2017.0,AJ Derby,17.0,BUF,3.83,2.08,23.25,0.17,0.08,15.83
18,Adam Shaheen,11.0,2.00,1.75,20.50,0.50,0.00,6.75,Adam Shaheen,11.0,...,2017.0,AJ Derby,2.0,NYJ,3.00,1.00,14.00,0.50,0.00,13.50
19,Adam Shaheen,12.0,1.80,1.60,16.60,0.40,0.00,8.20,Adam Shaheen,12.0,...,2017.0,Adam Shaheen,0.0,0,0.00,0.00,0.00,0.00,0.00,0.00
20,Alex Ellis,0.0,0.00,0.00,0.00,0.00,0.00,0.00,Adam Shaheen,14.0,...,2017.0,Adam Shaheen,3.0,PIT,1.00,1.00,2.00,1.00,0.00,4.00
21,Alex Ellis,14.0,1.00,0.00,0.00,0.00,0.00,11.00,Alex Ellis,14.0,...,2016.0,Adam Shaheen,8.0,NO,1.00,0.50,1.00,0.50,0.00,3.00
22,Alex Ellis,15.0,1.00,0.50,0.50,0.00,0.00,7.00,Alex Ellis,15.0,...,2016.0,Adam Shaheen,10.0,GB,1.33,1.00,13.67,0.33,0.00,3.67
23,Alex Smith,0.0,0.00,0.00,0.00,0.00,0.00,0.00,Alex Ellis,16.0,...,2016.0,Adam Shaheen,11.0,DET,2.00,1.75,20.50,0.50,0.00,6.75
24,Alex Smith,16.0,1.00,0.00,0.00,0.00,0.00,11.00,Alex Smith,16.0,...,2015.0,Adam Shaheen,12.0,PHI,1.80,1.60,16.60,0.40,0.00,8.20
25,Andrew Quarless,0.0,0.00,0.00,0.00,0.00,0.00,0.00,Alex Smith,17.0,...,2015.0,Alex Ellis,0.0,0,0.00,0.00,0.00,0.00,0.00,0.00
26,Andrew Quarless,3.0,2.00,2.00,14.00,0.00,0.00,2.00,Andrew Quarless,3.0,...,2015.0,Alex Ellis,14.0,MIN,1.00,0.00,0.00,0.00,0.00,11.00
27,Andrew Quarless,16.0,2.00,2.00,15.50,0.00,0.00,11.00,Andrew Quarless,16.0,...,2015.0,Alex Ellis,15.0,HOU,1.00,0.50,0.50,0.00,0.00,7.00
28,Anthony Fasano,0.0,0.00,0.00,0.00,0.00,0.00,0.00,Andrew Quarless,17.0,...,2015.0,Alex Smith,0.0,0,0.00,0.00,0.00,0.00,0.00,0.00
29,Anthony Fasano,1.0,1.00,1.00,18.00,0.00,0.00,21.00,Anthony Fasano,1.0,...,2015.0,Alex Smith,16.0,PHI,1.00,0.00,0.00,0.00,0.00,11.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,0.0,0,0.00,0.00,0.00,0.00,0.00,0.00
3154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,1.0,GB,1.00,0.00,0.00,0.00,0.00,14.00
3155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,2.0,ARI,1.50,1.00,7.00,0.00,0.00,17.00
3156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,3.0,SEA,1.33,1.00,11.67,0.00,0.00,18.67
3157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,5.0,KC,1.25,0.75,8.75,0.00,0.00,14.50
3158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,9.0,LAC,1.40,1.00,11.60,0.20,0.00,15.20
3159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,10.0,LAR,2.00,1.67,27.50,0.50,0.00,17.00
3160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,11.0,DEN,2.57,1.86,30.29,0.43,0.00,17.29
3161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,12.0,GB,3.12,1.88,27.75,0.50,0.00,16.88
3162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,13.0,SF,2.89,1.78,25.33,0.44,0.00,16.00
3163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,14.0,WAS,3.20,2.10,31.30,0.50,0.00,16.00
3164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,15.0,MIN,3.45,2.45,33.64,0.45,0.00,15.91
3165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,16.0,TB,3.83,2.83,36.58,0.42,0.00,16.33
3166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,1.0,HOU,6.00,5.00,41.50,0.00,0.00,12.00
3167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,2.0,PHI,5.67,4.67,38.67,0.00,0.00,8.67
3168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,3.0,DAL,6.50,5.50,48.50,0.50,0.00,14.50
3169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,4.0,DET,5.80,5.00,45.00,0.60,0.00,17.00
3170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,5.0,IND,6.17,5.33,49.67,0.50,0.00,18.00
3171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,6.0,JAX,6.71,5.43,47.71,0.43,0.00,17.71
3172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,7.0,GB,6.50,5.00,46.75,0.38,0.00,18.12
3173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,8.0,MIN,6.89,5.22,51.33,0.33,0.00,17.33
3174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,10.0,TB,6.90,5.10,49.40,0.30,0.00,17.00
3175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,11.0,NYG,6.55,4.91,50.45,0.36,0.00,17.27
3176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,1.0,ATL,4.50,3.50,50.00,0.50,0.00,16.50
3177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,2.0,TB,6.00,4.33,47.33,0.33,0.00,12.00
3178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,3.0,PIT,5.25,3.50,39.75,0.25,0.00,10.00
3179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,4.0,GB,4.60,3.20,40.80,0.20,0.00,9.00
3180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,5.0,MIN,5.00,3.17,40.50,0.33,0.00,7.67
3181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,6.0,BAL,4.71,3.00,38.29,0.43,0.00,10.00
3182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Zach Miller,7.0,CAR,4.50,2.88,37.12,0.38,0.00,9.50

In [116]:
points_dict = {}
reframed_dict = {}
for player in te_stats['Name']:
    #points_dict['{}'.format(player)]['points'] = qb_stats.loc[player]['points'][0]
    #points_dict['{}'.format(player)]['def_rk'] = qb_stats.loc[player]['def_rk']
    #points_dict['{}'.format(player)]['h/a_1'] = qb_stats.loc[player]['h/a_1']
    #points_dict['{}'.format(player)]['surface_0']= qb_stats.loc[player]['surface_0']
    #points_dict['{}'.format(player)]['salary']=qb_stats.loc[player]['salary']
    #rop_list = ['points','def_rk','h/a_1','surface_0','salary']
    #qb_stats.drop(drop_list, axis=1, inplace=True)
    reframed_dict['{}_reframed'.format(player)]= te_stats.loc[player]

KeyError: 'the label [Name] is not in the [index]'

In [187]:
reframed_dict['AJ Derby_reframed'].shape

(19, 27)

In [76]:
te_sorted_dict.keys()

dict_keys(['AJ Derby', 'Adam Shaheen', 'Alex Ellis', 'Alex Smith', 'Andrew Quarless', 'Anthony Fasano', 'Antonio Gates', 'Antony Auclair', 'Asante Cleveland', 'Austin Hooper', 'Austin Seferian-Jenkins', 'Austin Traylor', 'Ben Braunecker', 'Ben Koyack', 'Benjamin Watson', 'Blake Bell', 'Blake Jarwin', 'Braedon Bowman', 'Brandon Bostick', 'Brandon Myers', 'Brandon Pettigrew', 'Brandon Williams', 'Brent Celek', 'Brian Leonhardt', 'Brian Parker', 'CJ Fiedorowicz', 'CJ Uzomah', 'Cameron Brate', 'Cethan Carter', 'Charles Clay', 'Chase Coffman', 'Chris Gragg', 'Chris Herndon IV', 'Chris Manhertz', 'Clay Harbor', 'Clive Walford', 'Coby Fleener', 'Cole Hikutini', 'Cole Wick', 'Connor Hamlett', 'Cooper Helfet', 'Cory Harkey', 'Craig Stevens', 'Crockett Gillmore', 'DJ Tialavea', 'Dallas Goedert', 'Daniel Fells', 'Darrell Daniels', 'Darren Fells', 'David Johnson', 'David Morgan', 'David Njoku', 'Delanie Walker', 'Demetrius Harris', 'Dennis Pitta', 'Derek Carrier', 'Dion Sims', 'Dominique Jones', 'Durham Smythe', 'Dwayne Allen', 'EJ Bibbs', 'Ed Dickson', 'Emanuel Byrd', 'Eric Ebron', 'Eric Saubert', 'Eric Tomlinson', 'Erik Swoope', 'Evan Engram', 'Gabe Holmes', 'Garrett Celek', 'Garrett Graham', 'Garrett Griffin', 'Gary Barnidge', 'Gavin Escobar', 'Geoff Swaim', 'George Kittle', 'Gerald Christian', 'Gerald Everett', 'Greg Olsen', 'Hakeem Valles', 'Heath Miller', 'Henry Krieger-Coble', 'Hunter Henry', 'Ian Thomas', 'Jace Amaro', 'Jack Doyle', 'Jacob Hollister', 'Jacob Tamme', 'Jake Butt', 'Jake Stoneburner', 'James Hanna', "James O'Shaughnessy", 'Jared Cook', 'Jason Croom', 'Jason Witten', 'Jeff Cumberland', 'Jeff Heuerman', 'Jerell Adams', 'Jeremy Sprinkle', 'Jermaine Gresham', 'Jerome Cunningham', 'Jesse James', 'Jim Dray', 'Jimmy Graham', 'John Phillips', 'Jonnu Smith', 'Jordan Akins', 'Jordan Cameron', 'Jordan Leggett', 'Jordan Reed', 'Jordan Thomas', 'Josh Hill', 'Joshua Perkins', 'Julius Thomas', 'Justin Perillo', 'Kellen Davis', 'Khari Lee', 'Kyle Rudolph', 'Ladarius Green', 'Lance Kendricks', 'Larry Donnell', 'Lee Smith', 'Levine Toilolo', 'Logan Paulsen', 'Logan Thomas', 'Luke Stocker', 'Luke Willson', 'MarQueis Gray', 'Marcedes Lewis', 'Mark Andrews', 'Martellus Bennett', 'Matt LaCosse', 'Matt Lengel', 'Matt Spaeth', 'Matthew Mulligan', 'Maxx Williams', 'Michael Hoomanawanui', 'Michael Roberts', 'Michael Williams', 'Mike Gesicki', 'Mo Alie-Cox', 'MyCole Pruitt', 'Mychal Rivera', 'Nic Jacobs', 'Nick Boyle', "Nick O'Leary", 'Nick Vannett', 'Niles Paul', 'OJ Howard', 'Orson Charles', 'Owen Daniels', 'Phillip Supernaw', 'Randall Telfer', 'Rhett Ellison', 'Richard Rodgers', 'Ricky Seals-Jones', 'Rico Gathers', 'Rob Gronkowski', 'Rob Housler', 'Ross Travis', 'Ryan Griffin', 'Ryan Hewitt', 'Ryan Malleck', 'Scott Chandler', 'Scott Simonson', 'Sean McGrath', 'Seth DeValve', 'Stephen Anderson', 'Tim Wright', 'Tony Moeaki', 'Travis Kelce', 'Trey Burton', 'Troy Niklas', 'Tyler Conklin', 'Tyler Eifert', 'Tyler Higbee', 'Tyler Kroft', 'Vance McDonald', 'Vernon Davis', 'Virgil Green', 'Will Dissly', 'Will Tye', 'Xavier Grimble', 'Zach Ertz', 'Zach Miller'])

In [111]:
te_stats['Name'].unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [109]:
# A function to insert the non reframed columns back into the stats dataframe 

def insert_non_reframed(df, col_dict):
    non_reframed = ['Opponent','def_rk','h/a_1','surface_0','points']
    for player in df['Name'].unique():
        for col in non_reframed:
            reframed_dict['{}_reframed'.format(player)][col] = col_dict['{}'.format(player)][col].values
            
    return reframed_dict

In [110]:
insert_non_reframed(te_stats, te_sorted_dict)

AttributeError: 'DataFrame' object has no attribute 'unique'

In [199]:
te

{'player_2015':                                games  tar  rec  yds  td  fum  def_rk
 Name            Week Opponent
 Alex Smith      16   PHI           1    1    0    0   0    0      11
                 17   DAL           2    1    0    0   0    0       1
 Andrew Quarless 3    KC            1    2    2   14   0    0       2
                 16   ARI           2    2    2   17   0    0      20
                 17   MIN           3    1    0    0   0    0      15
 Anthony Fasano  1    TB            1    1    1   18   0    0      21
                 2    CLE           2    7    5   84   1    0       6
                 3    IND           3    2    1   26   0    0      23
                 5    BUF           4    1    0    0   0    0       8
                 6    MIA           5    3    2    1   0    0       7
                 7    ATL           6    4    3   21   0    0      29
                 8    HOU           7    1    1    9   0    0      10
                 9    NO            8    3    3   33   1    0      32
                 10   CAR           9    4    1   19   0    0      12
                 11   JAX          10    2    2   14   0    0      28
                 12   OAK          11    2    2   22   0    0      30
                 14   NYJ          12    1    0    0   0    0       3
                 15   NE           13    4    3   21   0    0       5
                 16   HOU          14    7    2   21   0    0      10
 Antonio Gates   5    PIT           1   11    9   92   2    0      25
                 6    GB            2   16    9   95   0    0      14
                 8    BAL           3    5    4   56   0    0       4
                 9    CHI           4   11    6   69   0    0      13
                 11   KC            5    3    1    6   0    0       2
                 12   JAX           6    6    4   53   2    0      28
                 13   DEN           7    9    6   50   0    0      19
                 14   KC            8    8    6   76   0    0       2
                 15   MIA           9    9    6   88   0    0       7
                 16   OAK          10    2    2   11   0    0      30
                 17   DEN          11    5    3   34   1    0      19
 ...                              ...  ...  ...  ...  ..  ...     ...
 Will Tye        15   CAR          11    8    5   43   1    0      12
                 16   MIN          12    4    3   28   0    0      15
                 17   PHI          13    8    5   67   1    0      11
 Zach Ertz       1    ATL           1    8    3   46   0    0      29
                 2    DAL           2    7    3   17   0    0       1
                 3    NYJ           3    2    2   30   0    0       3
                 4    WAS           4    3    2   11   0    0      16
                 5    NO            5    7    5   60   0    0      32
                 6    NYG           6    7    4   43   0    0      31
                 7    CAR           7    8    5   63   0    0      12
                 9    DAL           8    6    5   44   0    0       1
                 10   MIA           9   10    7   68   0    0       7
                 11   TB           10    4    2   12   0    0      21
                 13   NE           11    4    2    9   1    0       5
                 14   BUF          12    7    5   98   0    0       8
                 15   ARI          13   13    8   78   1    0      20
                 16   WAS          14   17   13  122   0    1      16
                 17   NYG          15    9    9  152   0    0      31
 Zach Miller     1    GB            1    1    0    0   0    0      14
                 2    ARI           2    2    2   14   0    0      20
                 3    SEA           3    1    1   21   0    0      22
                 5    KC            4    1    0    0   0    0       2
                 9    LAC           5    2    2   23   1    0      18
                 10   LAR           6    5    5  107   2    0      26
                 11   DEN           7    6    3   47   0    0      19
                 12   GB            8    7    2   10   1    0      14
                 13   SF            9    1    1    6   0    0       9
                 14   WAS          10    6    5   85   1    0      16
                 15   MIN          11    6    6   57   0    0      15
                 16   TB           12    8    7   69   0    0      21

 [987 rows x 7 columns],
 'player_2016':                               games  tar  rec  yds  td  fum  def_rk
 Name           Week Opponent
 AJ Derby       9    OAK           1    1    0    0   0    0      24
                10   NO            2    3    2   22   0    0      13
                12   KC            3    4    4   43   0    0       5
                13   JAX           4    1    1    3   0    0      16
                14   TEN           5    5    5   57   0    1      15
                15   NE            6    6    4   35   0    0       8
 Alex Ellis     14   MIN           1    1    0    0   0    0      11
                15   HOU           2    1    1    1   0    0       3
                16   TEN           3    2    2   10   0    0      15
 Anthony Fasano 2    DET          15    3    1    1   0    0      27
                4    HOU          16    1    0    0   0    0       3
                5    MIA          17    1    1   10   0    0      25
                6    CLE          18    1    1   15   1    0      31
                7    IND          19    2    1   10   0    0      23
                9    LAC          20    1    1    9   0    0      12
                10   GB           21    1    1    9   1    0      21
                12   CHI          22    1    0    0   0    0       9
                14   DEN          23    2    1   17   0    0      19
                16   JAX          24    1    1   12   0    0      16
 Antonio Gates  1    KC           12    4    3   20   0    0       5
                2    JAX          13    5    3   15   1    0      16
                5    OAK          14    5    4   30   1    1      24
                6    DEN          15    6    2   16   0    0      19
                7    ATL          16   10    5   38   0    0      26
                8    DEN          17    9    4   33   1    0      19
                9    TEN          18    9    5   75   1    0      15
                10   MIA          19    9    4   63   1    0      25
                13   TB           20    4    4   37   0    0      14
                14   CAR          21    9    5   61   0    0      28
                15   OAK          22    2    1   11   0    0      24
 ...                             ...  ...  ...  ...  ..  ...     ...
 Xavier Grimble 5    NYJ           3    2    2   13   0    0      22
                6    MIA           4    3    1   11   0    0      25
                7    NE            5    5    2   14   0    0       8
                9    BAL           6    1    1   10   0    0      10
                10   DAL           7    2    1    5   0    0      32
                16   BAL           8    2    1   20   1    0      10
 Zach Ertz      1    CLE          16    7    6   58   0    0      31
                5    DET          17    3    3   37   0    0      27
                6    WAS          18    3    1   22   0    0      29
                7    MIN          19    3    1   14   0    0      11
                8    DAL          20    4    4   19   0    0      32
                9    NYG          21    8    8   97   0    0      20
                10   ATL          22    7    6   55   0    0      26
                11   SEA          23   11    6   35   1    0       4
                12   GB           24    6    3   36   0    0      21
                13   CIN          25   15    9   79   1    0      30
                14   WAS          26   13   10  112   0    0      29
                15   BAL          27    8    6   80   0    0      10
                16   NYG          28    2    2   33   0    0      20
                17   DAL          29   16   13  139   2    0      32
 Zach Miller    1    HOU          13    4    3   14   0    0       3
                2    PHI          14    5    4   33   0    0       2
                3    DAL          15    9    8   78   2    0      32
                4    DET          16    3    3   31   1    0      27
                5    IND          17    8    7   73   0    0      23
                6    JAX          18   10    6   36   0    0      16
                7    GB           19    5    2   40   0    0      21
                8    MIN          20   10    7   88   0    0      11
                10   TB           21    7    4   32   0    0      14
                11   NYG          22    3    3   61   1    0      20

 [935 rows x 7 columns],
 'player_2017':                               games  tar  rec  yds  td  fum  def_rk
 Name           Week Opponent
 AJ Derby       1    LAC           7    3    3   34   0    0       8
                2    DAL           8    1    0    0   0    0      21
                3    BUF           9    2    1    5   0    0      25
                4    OAK          10    6    4   75   1    0      26
                6    NYG          11    4    1   10   0    0      31
                7    LAC          12    7    6   66   0    1       8
                8    KC           13    4    2   21   1    0       7
                9    PHI          14    3    1   11   0    0      14
                10   NE           15    1    1    2   0    0      10
                16   KC           16    5    1   11   0    0       7
                17   BUF          17    4    1    9   0    0      25
 Adam Shaheen   3    PIT           1    1    1    2   1    0       4
                8    NO            2    1    0    0   0    0       2
                10   GB            3    2    2   39   0    0       5
                11   DET           4    4    4   41   1    0      16
                12   PHI           5    1    1    1   0    0      14
                14   CIN           6    5    4   44   1    0      23
 Anthony Fasano 5    TEN          25    1    0    0   0    0      19
                7    NYJ          26    4    3   25   1    0      22
                8    BAL          27    2    2   11   0    0      24
                9    OAK          28    2    2    9   0    0      26
                13   DEN          29    1    1   29   0    0      29
                14   NE           30    1    1   17   0    0      10
                15   BUF          31    2    2   15   0    0      25
                17   BUF          32    3    1    1   0    0      25
 Antonio Gates  1    DEN          25    3    2   17   0    0      29
                2    MIA          26    4    2   11   1    0      32
                3    KC           27    5    2   30   0    0       7
                4    PHI          28    5    3   18   0    0      14
                5    NYG          29    3    2   23   0    0      31
 ...                             ...  ...  ...  ...  ..  ...     ...
 Will Tye       1    BUF          30    3    3   34   0    0      25
                2    OAK          31    3    1    4   0    0      26
 Xavier Grimble 7    CIN           9    1    1   12   0    0      23
                12   GB           10    1    1    1   1    0       5
                13   CIN          11    3    1    9   0    0      23
                14   BAL          12    2    0    0   0    0      24
                15   NE           13    1    1    8   0    0      10
                17   CLE          14    1    1    2   0    0      30
 Zach Ertz      1    WAS          30    8    8   93   0    0      28
                2    KC           31   10    5   97   0    0       7
                3    NYG          32   10    8   55   1    1      31
                4    LAC          33    8    5   81   0    0       8
                5    ARI          34   12    6   61   1    0      17
                6    CAR          35    5    2   18   2    0       6
                7    WAS          36    5    5   89   1    0      28
                8    SF           37    6    4   34   1    0      15
                11   DAL          38    5    2    8   0    0      21
                12   CHI          39   12   10  103   1    0      12
                13   SEA          40    4    2   24   0    0       9
                15   NYG          41    9    6   56   1    0      31
                16   OAK          42   14    9   81   0    0      26
                17   DAL          43    2    2   24   0    0      21
 Zach Miller    1    ATL          23    6    4   39   0    0      13
                2    TB           24    9    6   42   0    0       3
                3    PIT          25    3    1   17   0    0       4
                4    GB           26    2    2   45   0    0       5
                5    MIN          27    7    3   39   1    0       1
                6    BAL          28    3    2   25   1    0      24
                7    CAR          29    3    2   29   0    0       6
                8    NO           30    2    0    0   0    0       2

 [1004 rows x 7 columns],
 'player_2018':                                        games  tar  rec  yds  td  fum  def_rk
 Name                    Week Opponent
 AJ Derby                2    NYJ          18    2    1   19   1    0       2
                         3    OAK          19    1    1   16   0    0       6
 Antonio Gates           1    KC           41    3    2   16   0    0      30
                         2    BUF          42    1    0    0   0    0      22
                         3    LAR          43    5    3   45   0    0      23
                         4    SF           44    5    2   27   1    0      27
 Antony Auclair          4    CHI           3    1    1    8   0    0      19
 Austin Hooper           1    PHI          28    4    3   24   0    0      16
                         2    CAR          29    5    5   59   1    0      26
                         3    NO           30    4    3   23   0    0       9
                         4    CIN          31    2    1   19   0    0      28
 Austin Seferian-Jenkins 1    NYG          30    5    3   25   0    0       7
                         2    NE           31    5    3   23   1    0      10
                         3    TEN          32    5    3   18   0    0       1
                         4    NYJ          33    4    2   24   0    0       2
 Benjamin Watson         1    TB           33    4    4   44   0    0      32
                         2    CLE          34    5    3   19   0    0       4
                         3    ATL          35    6    5   71   0    0      12
                         4    NYG          36    3    1   23   0    0       6
 Blake Jarwin            1    CAR           1    1    0    0   0    0      26
                         3    SEA           2    1    0    0   0    0      13
 CJ Uzomah               1    IND          19    1    1    4   0    0      29
                         2    BAL          20    4    3   45   0    0      11
                         3    CAR          21    2    2   19   1    0      26
                         4    ATL          22    1    1    6   0    0      16
 Cameron Brate           1    NO           44    2    0    0   0    0       9
                         3    PIT          45    4    3   34   1    0      31
                         4    CHI          46    4    3   29   1    0      19
 Charles Clay            1    BAL          42    2    0    0   0    0      11
                         2    LAC          43    3    2   29   0    0       3
 ...                                      ...  ...  ...  ...  ..  ...     ...
 Tyler Eifert            1    IND          24    3    3   44   0    0      29
                         2    BAL          25    4    2   23   0    0      11
                         3    CAR          26    8    6   74   0    0      26
                         4    ATL          27    4    4   38   1    0      16
 Tyler Higbee            2    ARI          26    2    1    3   1    0      19
                         3    LAC          27    2    2   35   0    0       3
                         4    MIN          28    1    0    0   0    0      18
 Tyler Kroft             1    IND          28    1    1    9   0    0      29
                         2    BAL          29    2    2   11   0    0      11
                         3    CAR          30    1    1   16   0    0      26
                         4    ATL          31    1    0    0   0    0      16
 Vance McDonald          2    KC           34    5    3   26   0    0      30
                         3    TB           35    5    4  112   1    0      32
                         4    BAL          36    5    5   62   0    1      11
 Vernon Davis            1    ARI          45    1    1    9   0    0      19
                         2    IND          46    1    1    7   0    0      29
                         3    GB           47    2    2   70   0    0      21
 Virgil Green            1    KC           33    2    2   21   0    0      30
                         2    BUF          34    3    3   55   0    0      22
                         3    LAR          35    1    1    6   0    0      23
                         4    SF           36    2    2    9   0    0      27
 Will Dissly             1    DEN           1    5    3  105   1    0      24
                         2    CHI           2    5    3   42   1    0      18
                         3    DAL           3    3    1    4   0    0      20
                         4    ARI           4    1    1    5   0    0       9
 Xavier Grimble          3    TB           15    1    0    0   0    0      32
 Zach Ertz               1    ATL          44   10    5   48   0    0      12
                         2    TB           45   13   11   94   0    0      32
                         3    IND          46   10    5   73   0    0      29
                         4    TEN          47   14   10  112   0    0      12

 [257 rows x 7 columns]}

In [115]:
non_reframed = ['year','def_rk','h/a_1','surface_0','salary','points']

for player in te_stats['Name']:
    for col in non_reframed:
        if len(reframed_dict['{}_reframed'.format(player)]['points']) != len(te_sorted_dict['{}'.format(player)][col][1:].values):
            print(player)

NameError: name 'reframed_dict' is not defined

In [236]:
te_stats = pd.concat(reframed_dict)
te_stats.columns

Index(['Week', 'games_avg', 'tar_avg', 'rec_avg', 'yds_avg', 'td_avg',
       'fum_avg', 'def_rk_avg', 'games_ma', 'tar_ma', 'rec_ma', 'yds_ma',
       'td_ma', 'fum_ma', 'def_rk_ma', 'games_car', 'tar_car', 'rec_car',
       'yds_car', 'td_car', 'fum_car', 'def_rk_car', 'year', 'def_rk', 'h/a_1',
       'surface_0', 'salary', 'points'],
      dtype='object')

In [237]:
te_stats.head()

                       Week  games_avg  tar_avg  rec_avg  yds_avg  td_avg  \
AJ Derby_reframed 987   1.0        0.0     0.00     0.00     0.00     0.0
                  988  10.0        1.0     1.00     0.00     0.00     0.0
                  989  11.0        1.5     2.00     1.00    11.00     0.0
                  990  13.0        2.0     2.67     2.00    21.67     0.0
                  991  14.0        2.5     2.25     1.75    17.00     0.0

                       fum_avg  def_rk_avg  games_ma  tar_ma   ...    yds_car  \
AJ Derby_reframed 987      0.0         0.0       0.0    0.00   ...       0.00
                  988      0.0        24.0       0.0    0.00   ...       0.00
                  989      0.0        18.5       0.0    0.00   ...      11.00
                  990      0.0        14.0       0.0    0.00   ...      21.67
                  991      0.0        14.5       2.5    2.25   ...      17.00

                       td_car  fum_car  def_rk_car  year  def_rk  h/a_1  \
AJ Derby_reframed 987     0.0      0.0         0.0  2016      24    0.0
                  988     0.0      0.0        24.0  2016      13    0.0
                  989     0.0      0.0        18.5  2016       5    1.0
                  990     0.0      0.0        14.0  2016      16    0.0
                  991     0.0      0.0        14.5  2016      15    0.0

                       surface_0  salary  points
AJ Derby_reframed 987        1.0    5900     0.0
                  988        0.0    2500     4.2
                  989        1.0    2500     8.3
                  990        1.0    2500     1.3
                  991        1.0       0     9.7

[5 rows x 28 columns]

In [129]:
cols = te_stats.columns.tolist()
cols = cols[-6:-5]  + cols[:-6] + cols[-5:]
te_stats = te_stats[cols]

In [134]:
cols = wr_stats.columns.tolist()
cols = cols[-6:-5] +cols[:-6] + cols[-5:]
wr_stats = wr_stats[cols]
wr_stats.head()

                                 year  var1(t-1)  var2(t-1)  var3(t-1)  \
                  Week Opponent
AJ Green_reframed 2    LAC       2015       8.00       5.00      63.00
                  3    BAL       2015       6.00       4.00      54.00
                  4    KC        2015       8.33       6.00     111.67
                  5    SEA       2015       8.75       6.25     104.25
                  6    BUF       2015       8.60       6.20      99.00

                                 var4(t-1)  var5(t-1)  var6(t-1)  var7(t-1)  \
                  Week Opponent
AJ Green_reframed 2    LAC            0.00       7.90      12.60       0.00
                  3    BAL            0.50       9.55      13.80       0.00
                  4    KC             1.00      12.20      16.77       0.00
                  5    SEA            0.75      11.20      15.50       0.00
                  6    BUF            0.60      10.92      15.00       8.75

                                 var8(t-1)  var9(t-1)   ...    var14(t)  \
                  Week Opponent                         ...
AJ Green_reframed 2    LAC            0.00       0.00   ...        4.00
                  3    BAL            0.00       0.00   ...        6.00
                  4    KC             0.00       0.00   ...        6.25
                  5    SEA            0.00       0.00   ...        6.20
                  6    BUF            6.25     104.25   ...        5.83

                                 var15(t)  var16(t)  var17(t)  var18(t)  \
                  Week Opponent
AJ Green_reframed 2    LAC          54.00      0.50      9.55     13.80
                  3    BAL         111.67      1.00     12.20     16.77
                  4    KC          104.25      0.75     11.20     15.50
                  5    SEA          99.00      0.60     10.92     15.00
                  6    BUF          88.50      0.50      9.95     14.00

                                 def_rk  h/a_1  surface_0  salary  points
                  Week Opponent
AJ Green_reframed 2    LAC           14    1.0        0.0    3000    13.5
                  3    BAL           17    0.0        1.0    4800    47.7
                  4    KC             7    1.0        0.0    3000    15.2
                  5    SEA            1    1.0        0.0    3000    13.8
                  6    BUF           18    0.0        0.0    3000     7.6

[5 rows x 42 columns]

In [238]:
te_stats.to_csv('input/te/te_stats.csv', index=True)

In [135]:
rb_stats.columns

Index(['Week', 'games_avg', 'att_avg', 'yds_avg', 'td_avg', 'tar_avg',
       'rec_yds_avg', 'def_rk_avg', 'games_ma', 'att_ma', 'yds_ma', 'td_ma',
       'tar_ma', 'rec_yds_ma', 'def_rk_ma', 'games_car', 'att_car', 'yds_car',
       'td_car', 'tar_car', 'rec_yds_car', 'def_rk_car', 'year', 'def_rk',
       'h/a_1', 'surface_0', 'salary', 'points'],
      dtype='object')