In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('qb_weekly_avg.csv')
df1 = pd.read_csv('qb_yearly_ma.csv')

In [7]:
df.head()

,Unnamed: 0,Unnamed: 1,Week,Opponent,tar_avg,rec_avg,yds_avg,td_avg,fum_avg,def_rk_avg
0,Alex Smith,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,Alex Smith,1,16.0,PHI,1.0,0.0,0.0,0.0,0.0,11.0
2,Andrew Quarless,2,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,Andrew Quarless,3,3.0,KC,2.0,2.0,14.0,0.0,0.0,2.0
4,Andrew Quarless,4,16.0,ARI,2.0,2.0,15.5,0.0,0.0,11.0

In [16]:
df1.sort_values('Name', inplace=True)
df1.head()

,Name,Week,Opponent,tar_ma,rec_ma,yds_ma,td_ma,fum_ma,def_rk_ma
1926,AJ Derby,6,NYG,3.0,2.0,28.5,0.25,0.0,20.0
987,AJ Derby,9,OAK,0.0,0.0,0.0,0.00,0.0,0.0
988,AJ Derby,10,NO,0.0,0.0,0.0,0.00,0.0,0.0
989,AJ Derby,12,KC,0.0,0.0,0.0,0.00,0.0,0.0
990,AJ Derby,13,JAX,0.0,0.0,0.0,0.00,0.0,0.0

In [15]:
df.sort_values('Unnamed: 0', inplace=True)
df.head()

,Unnamed: 0,Unnamed: 1,Week,Opponent,tar_avg,rec_avg,yds_avg,td_avg,fum_avg,def_rk_avg
1926,AJ Derby,4,4.0,OAK,3.00,2.0,28.50,0.25,0.0,20.0
987,AJ Derby,0,0.0,0,0.00,0.0,0.00,0.00,0.0,0.0
988,AJ Derby,1,9.0,OAK,1.00,0.0,0.00,0.00,0.0,24.0
989,AJ Derby,2,10.0,NO,2.00,1.0,11.00,0.00,0.0,18.5
990,AJ Derby,3,12.0,KC,2.67,2.0,21.67,0.00,0.0,14.0

In [19]:
df.drop(['Unnamed: 0', 'Unnamed: 1', 'Week','Opponent'],axis=1, inplace=True)

In [20]:
temp = pd.concat([df,df1], axis=1)
temp

,tar_avg,rec_avg,yds_avg,td_avg,fum_avg,def_rk_avg,Name,Week,Opponent,tar_ma,rec_ma,yds_ma,td_ma,fum_ma,def_rk_ma
1926,3.00,2.00,28.50,0.25,0.00,20.00,AJ Derby,6,NYG,3.000000,2.000000,28.500000,0.250000,0.000000,20.000000
987,0.00,0.00,0.00,0.00,0.00,0.00,AJ Derby,9,OAK,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
988,1.00,0.00,0.00,0.00,0.00,24.00,AJ Derby,10,NO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
989,2.00,1.00,11.00,0.00,0.00,18.50,AJ Derby,12,KC,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
990,2.67,2.00,21.67,0.00,0.00,14.00,AJ Derby,13,JAX,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
991,2.25,1.75,17.00,0.00,0.00,14.50,AJ Derby,14,TEN,2.250000,1.750000,17.000000,0.000000,0.000000,14.500000
992,2.80,2.40,25.00,0.00,0.20,14.60,AJ Derby,15,NE,2.800000,2.400000,25.000000,0.000000,0.200000,14.600000
1922,0.00,0.00,0.00,0.00,0.00,0.00,AJ Derby,1,LAC,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1923,3.00,3.00,34.00,0.00,0.00,8.00,AJ Derby,2,DAL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1924,2.00,1.50,17.00,0.00,0.00,14.50,AJ Derby,3,BUF,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1925,2.00,1.33,13.00,0.00,0.00,18.00,AJ Derby,4,OAK,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2926,0.00,0.00,0.00,0.00,0.00,0.00,AJ Derby,2,NYJ,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2927,2.00,1.00,19.00,1.00,0.00,2.00,AJ Derby,3,OAK,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1928,3.83,2.50,31.67,0.17,0.17,19.83,AJ Derby,8,KC,3.833333,2.500000,31.666667,0.166667,0.166667,19.833333
1929,3.86,2.43,30.14,0.29,0.14,18.00,AJ Derby,9,PHI,3.857143,2.428571,30.142857,0.285714,0.142857,18.000000
1930,3.75,2.25,27.75,0.25,0.12,17.50,AJ Derby,10,NE,3.750000,2.250000,27.750000,0.250000,0.125000,17.500000
1931,3.44,2.11,24.89,0.22,0.11,16.67,AJ Derby,16,KC,3.444444,2.111111,24.888889,0.222222,0.111111,16.666667
1932,3.60,2.00,23.50,0.20,0.10,15.70,AJ Derby,17,BUF,3.600000,2.000000,23.500000,0.200000,0.100000,15.700000
1927,3.20,1.80,24.80,0.20,0.00,22.20,AJ Derby,7,LAC,3.200000,1.800000,24.800000,0.200000,0.000000,22.200000
1933,0.00,0.00,0.00,0.00,0.00,0.00,Adam Shaheen,3,PIT,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1934,1.00,1.00,2.00,1.00,0.00,4.00,Adam Shaheen,8,NO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1935,1.00,0.50,1.00,0.50,0.00,3.00,Adam Shaheen,10,GB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1936,1.33,1.00,13.67,0.33,0.00,3.67,Adam Shaheen,11,DET,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1937,2.00,1.75,20.50,0.50,0.00,6.75,Adam Shaheen,12,PHI,2.000000,1.750000,20.500000,0.500000,0.000000,6.750000
1938,1.80,1.60,16.60,0.40,0.00,8.20,Adam Shaheen,14,CIN,1.800000,1.600000,16.600000,0.400000,0.000000,8.200000
995,1.00,0.50,0.50,0.00,0.00,7.00,Alex Ellis,16,TEN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
993,0.00,0.00,0.00,0.00,0.00,0.00,Alex Ellis,14,MIN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
994,1.00,0.00,0.00,0.00,0.00,11.00,Alex Ellis,15,HOU,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,0.00,0.00,0.00,0.00,0.00,0.00,Alex Smith,16,PHI,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1.00,0.00,0.00,0.00,0.00,11.00,Alex Smith,17,DAL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1912,0.00,0.00,0.00,0.00,0.00,0.00,Zach Miller,1,HOU,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1913,4.00,3.00,14.00,0.00,0.00,3.00,Zach Miller,2,PHI,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1914,4.50,3.50,23.50,0.00,0.00,2.50,Zach Miller,3,DAL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1915,6.00,5.00,41.67,0.67,0.00,12.33,Zach Miller,4,DET,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1916,5.25,4.50,39.00,0.75,0.00,16.00,Zach Miller,5,IND,5.250000,4.500000,39.000000,0.750000,0.000000,16.000000
1917,5.80,5.00,45.80,0.60,0.00,17.40,Zach Miller,6,JAX,5.800000,5.000000,45.800000,0.600000,0.000000,17.400000
1918,6.50,5.17,44.17,0.50,0.00,17.17,Zach Miller,7,GB,6.500000,5.166667,44.166667,0.500000,0.000000,17.166667
1919,6.29,4.71,43.57,0.43,0.00,17.71,Zach Miller,8,MIN,6.285714,4.714286,43.571429,0.428571,0.000000,17.714286
2924,5.00,3.00,34.50,0.33,0.00,8.33,Zach Miller,7,CAR,5.000000,3.000000,34.500000,0.333333,0.000000,8.333333
985,3.20,2.10,31.30,0.50,0.00,16.00,Zach Miller,15,MIN,3.200000,2.100000,31.300000,0.500000,0.000000,16.000000
2923,5.40,3.20,36.40,0.20,0.00,5.20,Zach Miller,6,BAL,5.400000,3.200000,36.400000,0.200000,0.000000,5.200000
2922,5.00,3.25,35.75,0.00,0.00,6.25,Zach Miller,5,MIN,5.000000,3.250000,35.750000,0.000000,0.000000,6.250000
2921,6.00,3.67,32.67,0.00,0.00,6.67,Zach Miller,4,GB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2920,7.50,5.00,40.50,0.00,0.00,8.00,Zach Miller,3,PIT,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2919,6.00,4.00,39.00,0.00,0.00,13.00,Zach Miller,2,TB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2918,0.00,0.00,0.00,0.00,0.00,0.00,Zach Miller,1,ATL,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1921,6.78,4.89,47.22,0.33,0.00,16.56,Zach Miller,11,NYG,6.777778,4.888889,47.222222,0.333333,0.000000,16.555556
2925,4.71,2.86,33.71,0.29,0.00,8.00,Zach Miller,8,NO,4.714286,2.857143,33.714286,0.285714,0.000000,8.000000
986,3.45,2.45,33.64,0.45,0.00,15.91,Zach Miller,16,TB,3.454545,2.454545,33.636364,0.454545,0.000000,15.909091
975,0.00,0.00,0.00,0.00,0.00,0.00,Zach Miller,1,GB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
977,1.50,1.00,7.00,0.00,0.00,17.00,Zach Miller,3,SEA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
978,1.33,1.00,11.67,0.00,0.00,18.67,Zach Miller,5,KC,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
979,1.25,0.75,8.75,0.00,0.00,14.50,Zach Miller,9,LAC,1.250000,0.750000,8.750000,0.000000,0.000000,14.500000
980,1.40,1.00,11.60,0.20,0.00,15.20,Zach Miller,10,LAR,1.400000,1.000000,11.600000,0.200000,0.000000,15.200000
981,2.00,1.67,27.50,0.50,0.00,17.00,Zach Miller,11,DEN,2.000000,1.666667,27.500000,0.500000,0.000000,17.000000
982,2.57,1.86,30.29,0.43,0.00,17.29,Zach Miller,12,GB,2.571429,1.857143,30.285714,0.428571,0.000000,17.285714
983,3.12,1.88,27.75,0.50,0.00,16.88,Zach Miller,13,SF,3.125000,1.875000,27.750000,0.500000,0.000000,16.875000
984,2.89,1.78,25.33,0.44,0.00,16.00,Zach Miller,14,WAS,2.888889,1.777778,25.333333,0.444444,0.000000,16.000000
976,1.00,0.00,0.00,0.00,0.00,14.00,Zach Miller,2,ARI,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1920,6.75,5.00,49.12,0.38,0.00,16.88,Zach Miller,10,TB,6.750000,5.000000,49.125000,0.375000,0.000000,16.875000

In [23]:
cols = temp.columns.tolist()
cols = cols[6:9] + cols[:6] + cols[9:]
temp = temp[cols]
temp.head()

,Name,Week,Opponent,tar_avg,rec_avg,yds_avg,td_avg,fum_avg,def_rk_avg,tar_ma,rec_ma,yds_ma,td_ma,fum_ma,def_rk_ma
1926,AJ Derby,6,NYG,3.00,2.0,28.50,0.25,0.0,20.0,3.0,2.0,28.5,0.25,0.0,20.0
987,AJ Derby,9,OAK,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
988,AJ Derby,10,NO,1.00,0.0,0.00,0.00,0.0,24.0,0.0,0.0,0.0,0.00,0.0,0.0
989,AJ Derby,12,KC,2.00,1.0,11.00,0.00,0.0,18.5,0.0,0.0,0.0,0.00,0.0,0.0
990,AJ Derby,13,JAX,2.67,2.0,21.67,0.00,0.0,14.0,0.0,0.0,0.0,0.00,0.0,0.0

In [25]:
temp.isnull().sum()

Name          0
Week          0
Opponent      0
tar_avg       0
rec_avg       0
yds_avg       0
td_avg        0
fum_avg       0
def_rk_avg    0
tar_ma        0
rec_ma        0
yds_ma        0
td_ma         0
fum_ma        0
def_rk_ma     0
dtype: int64